@import "mdb-react-ui-kit/dist/scss/free/variables";
@import "../variables.scss";

input[type=color].form-control {
  &::-webkit-color-swatch, &::-webkit-color-swatch-wrapper {
    border: none !important;
    padding: 0 !important;
    height: 100% !important;
    width: 100% !important;
    border-radius: .2rem;
  }
  & {
    padding: .2rem !important;
    border-radius: .2rem;
  }
}

.not-a-text {
  user-select: none !important;
}

.text-button {
  cursor: pointer !important;
}

.text-hover-blue {
  & {
    transition: all 0.5s $sw-in-out-back;
  }
  &:hover {
    color: $info;
  }
  &:hover {
    transform: rotate(180deg);
  }
}
