@import "../control/shadow";

.coco-msg {
  @extend .sw-shadow;
}

.coco-msg.loading {
  background-color: #68cdff !important;
  color: #fff !important;
}

.coco-msg.success {
  background-color: #67e827 !important;
  color: #fff !important;
}

.coco-msg.error {
  background-color: #fc6262 !important;
  color: #fff !important;
}

.ant-modal-mask {
  z-index: 1021 !important;
}

.ant-modal-wrap {
  z-index: 1022 !important;
}
